mkdocs-material == 9.5.33
mkdocs-roamlinks-plugin
mkdocs-bibtex
mkdocs-callouts
mkdocs-git-revision-date-localized-plugin
obsidiantools
pybtex==0.24.0
pypandoc[pandoc]==1.13
requests==2.31.0
validators==0.20.0
